* {
  margin: 0;
  padding: 0;
}


html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div {
  box-sizing: border-box !important;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #409eff;
}

:root {
  --animate-duration: 500ms;
  --animate-delay: 0s;

  user-select: none !important;
}